/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
@import '../vendors/fonts/fonts.css';
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.page {
  background-color: #f4f4f4;
  scroll-padding-top: 74px;
  overflow-x: hidden;
}
.page__lead {
  margin: 94px 0 0;
}

.header {
  background-color: #f4f4f4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 74px;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  padding-right: 120px;
  z-index: 3;
}
.header__links {
  display: flex;
  gap: 34px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header__link {
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #151515;
}

.section {
  background-color: #f4f4f4;
  padding-left: 120px;
}
.section__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 55px;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: -0.5px;
  color: #151515;
}
.section__title_theme_dark {
  font-family: "Inter", Arial, sans-serif;
  font-size: 55px;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: -0.5px;
  color: #fff;
}
.section__about {
  max-width: 460px;
}
.section__description {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
  color: #222222;
  opacity: 0.7;
}
.section__description_theme_dark {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
  color: #504343;
  opacity: 0.7;
}
.section_theme_dark {
  background-color: #333;
}

.lead {
  display: grid;
  min-height: 837px;
  grid-template-columns: 460px 810px;
  grid-template-rows: repeat(3, -webkit-min-content) auto;
  grid-template-rows: repeat(3, min-content) auto;
  justify-content: space-between;
  align-items: start;
  box-sizing: border-box;
  width: 100%;
  grid-template-areas: "title image" "description image" "button image" "bike-title image";
}
.lead__title {
  margin: 50px 0 0;
  grid-area: title;
}
.lead__image-container {
  position: relative;
  grid-area: image;
  align-self: stretch;
}
.lead__description {
  margin: 80px 0 0;
  grid-area: description;
}
.lead__image {
  position: absolute;
  right: 0;
  top: 0;
  width: 610px;
  height: 836px;
  white-space: nowrap;
}
.lead__bike-fix {
  position: -webkit-sticky;
  position: sticky;
  top: 421px;
  margin-bottom: 79px;
  width: 440px;
  height: 300px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px 50px;
  background-color: #f4f4f4;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
  filter: drop-shadow(-20px 60px 220px rgba(0, 0, 0, 0.2));
}
.lead__button {
  margin: 49px 0 0;
  min-width: 180px;
  grid-area: button;
  justify-self: start;
}
.lead__bike-title {
  margin: 167px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #151515;
  display: flex;
  gap: 30px;
  align-items: center;
  grid-area: bike-title;
}
.lead__bike-title::after {
  width: 132px;
  height: 2px;
  background: #d7d4d4;
  content: " ";
}

.button {
  background-color: #24b47e;
  display: flex;
  justify-content: center;
  position: relative;
  border: none;
  border-radius: 4px;
  overflow: hidden;
  padding: 16px 10px;
  box-sizing: border-box;
}
.button::before {
  position: absolute;
  width: 0;
  left: 0;
  top: 0;
  bottom: 0;
  content: " ";
  background-color: #319e75;
  z-index: 1;
  transition: width 0.2s linear 0.15s;
}
.button__text {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 600;
  color: #fff;
  z-index: 2;
}
.button:hover {
  cursor: pointer;
}
.button:hover::before {
  width: 100%;
}

.eddie {
  display: grid;
  padding: 120px 120px 60px;
  grid-template-columns: 650px 470px;
  justify-content: space-between;
}
.eddie__image {
  width: 650px;
  height: 460px;
}
.eddie__quote-container {
  margin: 0;
  padding: 0;
}
.eddie__quote {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.5px;
  color: #151515;
}
.eddie__quote_theme_dark {
  color: #fff;
}
.eddie__author {
  display: block;
  margin: 262px 0 0;
  padding: 0;
}
.eddie__author-name {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}
.eddie__author-occupation {
  margin: 6px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}

@-webkit-keyframes track-images-previous {
  from {
    transform: translateX(-690px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes track-images-previous {
  from {
    transform: translateX(-690px);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes track-images-next {
  from {
    transform: translateX(-690px);
  }
  to {
    transform: translateX(-1380px);
  }
}
@keyframes track-images-next {
  from {
    transform: translateX(-690px);
  }
  to {
    transform: translateX(-1380px);
  }
}
.track {
  padding: 0 0 60px 120px;
}
.track__about {
  display: none;
}
.track__about_active {
  display: block;
}
.track__images {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  margin: 0;
  padding: 0;
  transform: translateX(-690px);
}
.track__image {
  width: 650px;
  height: 400px;
}
.track__image-container {
  overflow: hidden;
  margin: 80px 0 0;
}
.track__image-item {
  position: relative;
}
.track__image-type-icon {
  position: absolute;
  left: 0;
  bottom: 16px;
  transition: opacity 0.2s linear 0.15s;
}
.track__image-type-icon_hidden {
  opacity: 0;
}
.track__buttons {
  margin: 50px 0 0;
  display: flex;
  gap: 20px;
}
.track__button {
  width: 50px;
  height: 50px;
  background-size: 7 16px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  background-color: #ebebeb;
}
.track__button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.track__button_type_prev {
  background-image: url(../../images/button-prev.svg);
}
.track__button_type_next {
  background-image: url(../../images/button-next.svg);
}

.bikes {
  padding: 0 120px 60px;
}
.bikes__heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 60px 0 0;
}
.bikes__title {
  margin: 0;
}
.bikes__types {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 40px;
}
.bikes__type {
  border: none;
  background-color: transparent;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  opacity: 0.7;
}
.bikes__type_active {
  opacity: 1;
}
.bikes__bike-list {
  display: none;
  margin: 120px 0 0;
}
.bikes__bike-list_active {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.bikes__bike-container {
  margin: 0;
  padding: 0;
}
.bikes__bike-image {
  box-sizing: border-box;
  width: 380px;
  height: 380px;
  padding: 20px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 20px;
  background: #f4f4f4;
  filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.06));
}
.bikes__bike-heading {
  margin: 22px 0 0 6px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #151515;
}

.training {
  display: grid;
  grid-template-columns: 460px 580px;
  justify-content: space-between;
  padding: 150px 120px 120px;
}
.training__title {
  margin: 0;
}
.training__links {
  display: flex;
  margin: 182px 0 0;
  padding: 0;
  gap: 30px;
  list-style-type: none;
}
.training__link {
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #151515;
}
.training__image {
  width: 580px;
  height: 460px;
}

.footer {
  background-color: #efefef;
  padding: 80px 120px 60px;
}
.footer__title {
  max-width: 229px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #151515;
}
.footer__form {
  position: relative;
  max-width: 360px;
}
.footer__input {
  border: 1px solid rgba(199, 199, 199, 0.5);
  border-radius: 4px;
  background-color: transparent;
  padding: 11px 20px;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  color: #151515;
}
.footer__input::-moz-placeholder {
  color: "34, 34, 34";
}
.footer__input:-ms-input-placeholder {
  color: "34, 34, 34";
}
.footer__input::placeholder {
  color: "34, 34, 34";
}
.footer__input:hover {
  cursor: pointer;
}
.footer__input:focus {
  outline: none;
  border: 1px solid #c7c7c7;
}
.footer__input:focus + .footer__submit {
  display: block;
  position: absolute;
  right: 22px;
  top: 11px;
  border: none;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  color: #151515;
}
.footer__submit {
  display: none;
}
.footer__submit:hover {
  cursor: pointer;
}
.footer__about {
  display: flex;
  justify-content: space-between;
}
.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #cfcfcf;
}

.switcher {
  display: flex;
  gap: 22px;
  align-items: center;
}
.switcher__wrapper {
  width: 44px;
  height: 24px;
  border-radius: 9999px;
  background-color: #fff;
  padding: 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}
.switcher__button {
  border: none;
  width: 20px;
  height: 20px;
  background-color: #24b47e;
  border-radius: 50%;
  transition: transform 0.4s linear 0.2s;
}
.switcher__button_theme_dark {
  transform: translateX(20px);
}
.switcher__icon_type_light {
  width: 28px;
  height: 28px;
}
.switcher__icon_type_dark {
  width: 19.35px;
  height: 19.35px;
}
.switcher__icon_theme_dark {
  filter: brightness(0%) saturate(100%) invert(43%) sepia(0%) saturate(1747%) hue-rotate(167deg) brightness(91%) contrast(86%);
}/*# sourceMappingURL=index.css.map */