@mixin section-title($theme, $desktop: true) {
  font: {
    family: $default-font;
    weight: bold;
  }

  @if $desktop == true {
    font-size: 55px;
    line-height: 60px;   
  } @else {
    font-size: 32px;
    line-height: 40px;
  }

  letter-spacing: -0.5px;
  color: map-get($map: $theme, $key: color-primary);
}

@mixin section-description($theme, $desktop: true) {
  font: {
    family: $default-font;
    weight: normal;
  }
  
  @if $desktop == true {
    font-size: 18px;
    line-height: 28px;
  } @else {
    font-size: 12px;
    line-height: 18px;
  }
  color: map-get($map: $theme, $key: color-secondary);
  opacity: 0.7;
}