$default-font: 'Inter', Arial, sans-serif;

$theme-light: (
  color-primary: #151515,
  color-secondary: #222222,
  color-background: #f4f4f4,
  color-accent: #24b47e,
  color-accent-secondary: #319e75,
  color-button: #ebebeb,
  color-border: #e3e3e3,
  color-footer-border: #c7c7c7,
  color-footer: #cfcfcf,
  color-footer-background: #efefef,
  color-paginator: #cacaca,
);

$theme-dark: (
  color-primary: #fff,
  color-secondary: #504343,
  color-background: #333,
  color-accent: #24b47e,
  color-accent-secondary: #319e75,
  color-button: #434343,
  color-border: #e3e3e3,
  color-footer-border: #7d7d7d,
  color-footer: #676767,
  color-footer-background: #2f2f2f,
);

