@import "../utilities/variables";

.eddie {
    display: grid;
    padding: 120px 120px 60px;
    grid-template-columns: 650px 470px;
    justify-content: space-between;

    &__image {
        width: 650px;
        height: 460px;
    }

    &__quote-container {
        margin: 0;
        padding: 0;
    }

    &__quote {
        margin: 0;
        padding: 0;
        font: {
            family: $default-font;
            size: 34px;
            weight: 600;
        }
        line-height: 44px;
        letter-spacing: -0.5px;
        color: map-get($map: $theme-light, $key: color-primary);

        &_theme_dark {
            color: map-get($map: $theme-dark, $key: color-primary);
        }
    }

    &__author {
        display: block;
        margin: 262px 0 0;
        padding: 0;

        &-name {
            margin: 0;
            font: {
                family: $default-font;
                size: 20px;
                weight: 500;
            }
            line-height: 32px;
        }

        &-occupation {
            margin: 6px 0 0;
            font: {
                family: $default-font;
                size: 16px;
                weight: 400;
            }
            line-height: 28px;
            opacity: .7;
        }
    }
}

