@import "../utilities/variables";

.eddie {
    display: grid;
    padding: 120px 120px 60px;
    grid-template-columns: 650px minmax(auto, 470px);
    justify-content: space-between;

    &__image {
        width: 650px;
        height: 460px;
    }

    &__quote-container {
        margin: 0;
        padding: 0;
    }

    &__quote {
        margin: 0;
        padding: 0;
        font: {
            family: $default-font;
            size: 34px;
            weight: 600;
        }
        line-height: 44px;
        letter-spacing: -0.5px;
        color: map-get($map: $theme-light, $key: color-primary);

        &_theme_dark {
            color: map-get($map: $theme-dark, $key: color-primary);
        }
    }

    &__author {
        display: block;
        margin: 262px 0 0;
        padding: 0;

        &-name {
            margin: 0;
            font: {
                family: $default-font;
                size: 20px;
                weight: 500;
            }
            line-height: 32px;
        }

        &-occupation {
            margin: 6px 0 0;
            font: {
                family: $default-font;
                size: 16px;
                weight: 400;
            }
            line-height: 28px;
            opacity: .7;
        }
    }

    @media screen and (max-width: 1389px) {
        padding: 120px 18px 60px;
    }

    @media screen and (max-width: 1180px) {
        &__image {
            width: 500px;
            height: 350px;
        }
    }

    @media screen and (max-width: 1080px) {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 40px 18px 40px;

        &::before {
            @include section-separator;
        }

        &__image {
            margin: 20px 0 0;
            align-self: center;
        }

        &__quote-container {
            margin: 40px 0 0;
        }

        &__author {
            margin: 40px 0 0;
        }

        &__author-occupation {
            margin: 4px 0 0;
        }
    }

    @media screen and (max-width: 681px) {
        &__image {
            width: 400px;
            height: 280px;
        }
    }

    @media screen and (max-width: 540px) {
        &__quote {
            font-size: 23px;
            line-height: 29px;
        }

        &__author-name {
            font-size: 14px;
            line-height: 22px;
        }

        &__author-occupation {
            font-size: 10px;
            line-height: 16px;
        }
    }

    @media screen and (max-width: 431px) {
        &__image {
            width: 284px;
            height: 204px;
        }
    }
}

