@import "../utilities/functions";

.footer {
    background-color: map-get($map: $theme-light, $key: color-footer-background);
    padding: 80px 120px 60px;

    &__title {
        max-width: 229px;
        font: {
            family: $default-font;
            size: 24px;
            weight: 600;
        }
        line-height: 32px;
        color: map-get($map: $theme-light, $key: color-primary);
    }

    &__form {
        position: relative;
        max-width: 360px;
    }

    &__input {
        border: 1px solid rgba(map-get($map: $theme-light, $key: color-footer-border), .5);
        border-radius: 4px;
        background-color: transparent;
        padding: 11px 20px;
        width: 100%;
        font: {
            family: $default-font;
            weight: 500;
            size: 13px;
        }
        line-height: 28px;
        color: map-get($map: $theme-light, $key: color-primary);

        &::placeholder {
            color: hex-to-rgba(map-get($map: $theme-light, $key: color-secondary));
        }

        &:hover {
            cursor: pointer;

        }

        &:focus {
            outline: none;
            border: 1px solid map-get($map: $theme-light, $key: color-footer-border);
        }

        &:focus + .footer__submit {
            display: block;
            position: absolute;
            right: 22px;
            top: 11px;
            border: none;
            font: {
                family: $default-font;
                weight: 500;
                size: 13px;
            }
            line-height: 28px;
            color: map-get($map: $theme-light, $key: color-primary);
        }
    }

    &__submit {
        display: none;

        &:hover {
            cursor: pointer;
        }
    }

    &__about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        vertical-align: center;
    }

    &__copyright {
        margin: 0;
        font: {
            family: $default-font;
            size: 14px;
            weight: 600;
        }
        line-height: 20px;
        color: map-get($map: $theme-light, $key: color-footer);
    }

    @media screen and (max-width: 574px) {
        padding: 60px 18px 16px;

        &__title {
            max-width: none;
        }

        &__form {
            max-width: none;
        }

        &__about::after {
            content: " ";
            display: flex;
            width: 38px;
            height: 38px;
            background-image: url(../../images/logo.svg);
        }

        &__switcher {
            display: none;
        }
    }
}