.footer {
    background-color: map-get($map: $theme-light, $key: color-footer-background);
    padding: 80px 120px 60px;

    &__title {
        max-width: 229px;
        font: {
            family: $default-font;
            size: 24px;
            weight: 600;
        }
        line-height: 32px;
        color: map-get($map: $theme-light, $key: color-primary);

        &_theme_dark {
            color: map-get($map: $theme-dark, $key: color-primary);
        }
    }

    &__form {
        position: relative;
        max-width: 360px;
        margin: 50px 0 0;
    }

    &__input {
        border: 1px solid rgba(map-get($map: $theme-light, $key: color-footer-border), .5);
        border-radius: 4px;
        background-color: transparent;
        padding: 11px 20px;
        width: 100%;
        box-sizing: border-box;
        font: {
            family: $default-font;
            weight: 500;
            size: 13px;
        }
        line-height: 28px;
        color: map-get($map: $theme-light, $key: color-primary);

        &::placeholder {
            opacity: .7;
        }

        &:hover {
            cursor: pointer;

        }

        &:focus {
            outline: none;
            border: 1px solid map-get($map: $theme-light, $key: color-footer-border);
        }

        &:focus + .footer__submit {
            display: block;
            position: absolute;
            right: 22px;
            top: 11px;
            border: none;
            font: {
                family: $default-font;
                weight: 500;
                size: 13px;
            }
            line-height: 28px;
            color: map-get($map: $theme-light, $key: color-primary);
            background: transparent;
            z-index: 2;
        }

        &_theme_dark {
            color: map-get($map: $theme-dark, $key: color-primary);
            
            &:focus {
                border: 1px solid map-get($map: $theme-dark, $key: color-secondary);
            }

            &:focus + .footer__submit {
                color: map-get($map: $theme-dark, $key: color-primary);
            }
        }
    }

    &__submit {
        display: none;

        &:hover {
            cursor: pointer;
        }
    }

    &__about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        vertical-align: center;
        margin: 100px 0 0;
    }

    &__copyright {
        margin: 0;
        font: {
            family: $default-font;
            size: 14px;
            weight: 600;
        }
        line-height: 20px;
        color: map-get($map: $theme-light, $key: color-footer);

        &_theme_dark {
            color: map-get($map: $theme-dark, $key: color-footer);
        }
    }

    &_theme_dark {
        background: map-get($map: $theme-dark, $key: color-footer-background);
    }

    @media screen and (max-width: $screen-mobile) {
        padding: 60px 18px 16px;

        &__title {
            max-width: none;
        }

        &__form {
            max-width: none;
            margin: 40px 0 0;
        }


        &__about {
            &::after {
                content: " ";
                display: flex;
                width: 38px;
                height: 38px;
                background-image: url(../../images/logo.svg);
            }

            &_theme_dark {
                &::after {
                    filter: brightness(0%) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(99deg) brightness(106%) contrast(101%);
                }
            }
        }

        &__switcher {
            display: none;
        }
    }
}