@import "../utilities/variables";

.header {
    background-color: map-get($map: $theme-light, $key: color-background);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 74px;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    padding-right: 120px;
    z-index: 3;
    
    &__links {
        display: flex;
        gap: 34px;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__link {
        @include link();
        font-size: 14px;
        line-height: 18px;
        color: map-get($map: $theme-light, $key: color-primary);
    }

    &__menu-toggle {
        display: none;
    }

    @media screen and (max-width: 574px) {
        padding-right: 18px;

        &__links {
            display: none;
        }

        &__menu-toggle {
            display: block;
            border: none;
            width: 22px;
            height: 19px;
            background-image: url(../../images/menu.svg);
        }

        &__menu-toggle_active {
            width: 32px;
            height: 33px;
            background-image: url(../../images/close.svg);
        }
    }
}