@import "../utilities/variables.scss";

.page {
    background-color: map-get($map: $theme-light, $key: color-background);
    scroll-padding-top: 74px;

    &__content {
        margin: 0 auto;
    }

    &__footer {
        margin: 0 auto;
    }

    &__lead {
        margin: 94px 0 0;
    }

    &_theme_dark {
        background-color: map-get($map: $theme-dark, $key: color-background);
    }

    @media screen and (max-width: $screen-tablet) {
        &__lead {
            margin: 74px 0 0;
        }
    }
}