.training {
    display: grid;
    grid-template-columns: 460px 580px;
    justify-content: space-between;
    padding: 150px 120px 120px;

    &__title {
        margin: 0;
    }

    &__links {
        display: flex;
        margin: 182px 0 0;
        padding: 0;
        gap: 30px;
        list-style-type: none;
    }

    &__link {
        text-decoration: none;
        font: {
            family: $default-font;
            size: 18px;
            weight: 600;
        }
        line-height: 28px;
        color: map-get($map: $theme-light, $key: color-primary);
    }

    &__image {
        width: 580px;
        height: 460px;
    }
}