

@keyframes track-images-previous {
    from {
        transform: translateX(-690px);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes track-images-next {
    from {
        transform: translateX(-690px);
    }
    to {
        transform: translateX(-690px - 690px);
    }
}

.track {
    padding: 60px 0 60px 120px;

    &__title {
        margin: 0;
        display: none;
        grid-area: title;

        &_active {
            display: block;
        }
    }

    &__description {
        display: none;
        grid-area: description;

        &_active {
            display: block;
        }
        margin: 50px 0 0;
    }
    
    &__images {
        list-style-type: none;
        display: flex;
        flex-wrap: nowrap;
        gap: 40px;
        margin: 0;
        padding: 0;
        transform: translateX(-690px);
    }

    
    &__image-container {
        overflow: hidden;
        margin: 80px 0 0;
        grid-area: image-container;
    }

    &__image-item {
        position: relative;
    }

    &__image {
        width: 650px;
        height: 400px;
    }

    &__image-type-icon {
        position: absolute;
        left: 0;
        bottom: 16px;
        transition: opacity .2s linear .15s;

        &_hidden {
            opacity: 0;
        }
    }

    &__buttons {
        margin: 50px 0 0;
        display: flex;
        gap: 20px;
        grid-area: buttons;
    }

    &__button {
        width: 50px;
        height: 50px;
        background-size: 7px 16px;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        border-radius: 50%;
        background-color: map-get($map: $theme-light, $key: color-button);

        &:hover {
            opacity: .6;
            cursor: pointer;
        }

        &_type_prev {
            background-image: url(../../images/button-prev.svg);
        }

        &_type_next {
            background-image: url(../../images/button-next.svg);
        }

        &_theme_dark {
            background-color: map-get($map: $theme-dark, $key: color-button);

            &.track__button_type_prev {
                background-image: url(../../images/button-prev-dark.svg);
            }

            &.track__button_type_next {
                background-image: url(../../images/button-next-dark.svg);
            }
        }
    }

    @media screen and (max-width: $screen-tablet) {
        padding-left: 18px;

        &::before {
            @include section-separator($theme-light);
        }

        &_theme_dark {
            &::before {
                @include section-separator($theme-dark);
            }
        }
    }
}

@media screen and (max-width: $screen-mobile) {

    @keyframes track-images-previous {
        from {
            transform: translateX(-304px);
        }
        to{
            transform: translateX(0);
        }
    }
    
    @keyframes track-images-next {
        from {
            transform: translateX(-304px);
        }
        to {
            transform: translateX(-304px - 304px);
        }
    }

    .track {
        padding: 0 18px;
        display: grid;
        row-gap: 40px;
        justify-content: space-between;
        grid-auto-rows: min-content;
        grid-template-areas: ". ."
                             "separator separator"
                             "title buttons"
                             "image-container image-container"
                             "description description";
        align-items: center;

        &::before {
            grid-area: separator;
        }

        &__description {
            margin: 0;
        }

        &__buttons {
            margin: 0;
            justify-self: end;
            gap: 20px;
        }

        &__button {
            width: 24px;
            height: 24px;
            background-size: 4.5px 10px;
        }

        &__image-container {
            margin: 0;
        }

        &__image {
            width: 284px;
            height: 175px;
        }

        &__images {
            gap: 20px;
            transform: translateX(-304px);
        }
        
        &__image-type-icon {
            width: 70px;
            height: 28px;
        }
    }
}