.header {
    background-color: map-get($map: $theme-light, $key: color-background);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 74px;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    padding-right: 120px;
    z-index: 3;
    
    &__links {
        display: flex;
        gap: 34px;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__link {
        text-decoration: none;
        font: {
            family: $default-font;
            size: 14px;
            weight: 500;
        }
        line-height: 18px;
        color: map-get($map: $theme-light, $key: color-primary);
    }
}