@import "../utilities/variables.scss";
@import "../utilities/mixins.scss";

.section {
    background-color: map-get($map: $theme-light, $key: color-background);
    padding-left: 120px;

    &__title {
        @include section-title($theme-light);

        &_theme_dark {
            @include section-title($theme-dark);
        }
    }

    &__about {
        max-width: 460px;
    }

    &__description {
        @include section-description($theme-light);

        &_theme_dark {
            @include section-description($theme-dark);
        }
    }

    &_theme_dark {
        background-color: map-get($map: $theme-dark, $key: color-background);
    }
}